<div class="user-details">
<mat-list role="list">
  <mat-list-item>
    <span class="h2 d-flex justify-content-center"><strong>Detalhes do Usuário</strong></span>
  </mat-list-item>
    <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h3">Nome: </span> <span class="h5">{{ user.nome | dashIfEmpty }}</span>
  </mat-list-item>
    <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h3">Email: </span> <span class="h5">{{ user.email | dashIfEmpty  }}</span>
  </mat-list-item>
   <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h3">Telefone: </span> <span class="h5">{{ user.telefone | phone  }}</span>
  </mat-list-item>
    <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h3">Endereço: </span> <span class="h5">{{ user.endereco | adress}}</span>
  </mat-list-item>
   <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h3">Status: </span> <span class="h5">{{ user.ativo | status }}</span>
  </mat-list-item>
    <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h3">Função: </span> <span class="h5">{{ user.funcao | dashIfEmpty }}</span>
  </mat-list-item>
    <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h3">Data de cadastro: </span> <span class="h5">{{ user.dataCadastro | date:'dd/MM/yyyy' | dashIfEmpty  }}</span>
  </mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
</div>