<mat-list role="list">
  <mat-list-item>
feat/componente-detalhes
    <span>Detalhes</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="h2">Nome: </span> <span>Javinha de Sousa</span>
    <span class="mat-h2">Detalhes do usuário</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <span class="">Nome: </span> <span class="mat-h3">Javinha de Sousa</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">Item 3</mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
