.custom-container{
    display: flex;
    height: 100vh;    
}

.left-container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-div{
    flex-grow: 1;
    margin: 10px solid;
}

.main-left-div{
    height: 80%;
    background-color: rgb(98, 99, 99);
    margin: 10px solid;
}

.right-div{
    width: 30%;
    max-height: 100vh;
}